{% extends 'base.html' %}
{% block CONTENT %}
  {% if request.user.is_staff %}
  <div class="alert alert-success" role="alert">
    Проверка будет длиться 1-2 дня!
  </div>
  {% else %}
  <div class="alert alert-warning" role="alert">
    Чтобы увеличить объем торговли, необходимо пройти верификацию <a href="{% url 'kyc' %}" class="alert-link">KYC</a>
  </div>
  {% endif %}
  <div class="container mt-5">
    <h1 class="text-center mb-3" style="color: rgb(1, 167, 129);">Общий баланс</h1>
    <p class="text-center mb-5" style="font-size: 30px"><b>0.0 BTC</b> ≈ $0.0000000</p>
    <div class="table-responsive">
      <table class="table table-bordered table-hover text-center">
        <thead class="bg-primary text-white">
          <tr style="background: rgb(1, 167, 129);">
            <th scope="col">Name</th>
            <th scope="col">Amount</th>
            <th scope="col">Price</th>
            <th scope="col">24H Change</th>
          </tr>
        </thead>
        <tbody>
          <tr style="color: white;">
            <td scope="row">BTC</td>
            <td>0.0</td>
            <td>$0.0000000</td>
            <td class="text-success">+0.00%</td>
          </tr>
          <tr style="color: white;">
            <td scope="row">ETH</td>
            <td>0.0</td>
            <td>$0.0000000</td>
            <td class="text-danger">-0.00%</td>
          </tr>
          <tr style="color: white;">
            <td scope="row">LTC</td>
            <td>0.0</td>
            <td>$0.0000000</td>
            <td class="text-success">+0.00%</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <style>
    /* Additional CSS for design */
    .alert {
      margin-top: 20px;
    }

    h1 {
      margin-bottom: 30px;
      font-size: 36px;
      font-weight: bold;
      color: #007bff;
    }

    p {
      font-size: 24px;
      color: #999;
    }

    table {
      margin-top: 50px;
      font-size: 18px;
      color: white;
      background-color: rgb(16, 35, 49);
    }

    th,
    td {
      font-weight: bold;
      vertical-align: middle;
    }

    th {
      color: #fff;
    }

    td {
      padding: 15px;
    }

    th:nth-child(1),
    td:nth-child(1) {
      text-align: left;
    }

    th {
      background-color: #007bff;
    }

    .text-danger {
      color: #ff0000;
    }

    .text-success {
      color: #28a745;
    }

    .table-responsive {
      overflow-x: auto;
    }
  </style>
{% endblock %}
