{% extends 'base.html' %}
{% block CONTENT %}
  {% if request.user.is_authenticated %}
  <div class="alert alert-success" role="alert">
    Проверка будет длится 1-2 дня!
  </div>
  <h1 style="text-align: center;">Общий баланс</h1>
  <p style="font-size: 30px"><b>0.0 BTC</b> ≈ $0.0000000</p>
  <br>
        <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
              {% for i in name_coin %}
            <td>{{ i }}</td>
            {% endfor %}
          </tr>
        </thead>
          <thead>
          <tr>
            <th scope="col">Amount</th>
               {% for i in col_vo_coin %}
            <td>{{ i }}</td>
            {% endfor %}
          </tr>
        </thead>
          <thead>
          <tr>
            <th scope="col">Price</th>
              {% for i in price %}
            <td>{{ i }}</td>
            {% endfor %}
          </tr>
        </thead>
          <thead>
          <tr>
            <th scope="col">24H Change</th>
              {% for i in changes %}
              {% if i < 0 %}
              <td style="color: red;">{{ i }} %</td>
              {% else %}
              <td style="color: green ;">+ {{ i }} %</td>
              {% endif %}
            {% endfor %}
          </tr>
        </thead>
      </table>
  {% endif %}
{% endblock %}