{% extends 'base.html' %}
{% block CONTENT %}
    <style>
      table {
        border-collapse: collapse;
        width: 100%;
      }
      th, td {
        text-align: left;
        padding: 8px;
      }
      th {
        background-color: #2c7ea3;
        color: white;
      }
      tr:nth-child(even) {
        background-color: #f2f2f2;
      }
    </style>
<script>
    $(function() {
      function update_price_change() {
        $.ajax({
          url: "",
          dataType: "json",
          success: function(data) {
            $('#BTCPRICE').text('$' + data.BTC.price);
            $('#ETHPRICE').text('$' + data.ETH.price);
            $('#BNBPRICE').text('$' + data.BNB.price);
            $('#ADAPRICE').text('$' + data.ADA.price);
            $('#XRPPRICE').text('$' + data.XRP.price);
            $('#DOTPRICE').text('$' + data.DOT.price);
            $('#UNIPRICE').text('$' + data.UNI.price);
            $('#MATICPRICE').text('$' + data.MATIC.price);
            $('#DOGEPRICE').text('$' + data.DOGE.price);
            if (data.BTC.per > 0) {
              $('#BTCPER').html('<span style="color: green;">+' + data.BTC.per + '%</span>');
            } else {
              $('#BTCPER').html('<span style="color: red;">' + data.BTC.per + '%</span>');
            }
            if (data.ETH.per > 0) {
              $('#ETHPER').html('<span style="color: green;">+' + data.ETH.per + '%</span>');
            } else {
              $('#ETHPER').html('<span style="color: red;">' + data.ETH.per + '%</span>');
            }
            if (data.BNB.per > 0) {
              $('#BNBPER').html('<span style="color: green;">+' + data.BNB.per + '%</span>');
            } else {
              $('#BNBPER').html('<span style="color: red;">' + data.BNB.per + '%</span>');
            }
            if (data.ADA.per > 0) {
              $('#ADAPER').html('<span style="color: green;">+' + data.ADA.per + '%</span>');
            } else {
              $('#ADAPER').html('<span style="color: red;">' + data.ADA.per + '%</span>');
            }
            if (data.XRP.per > 0) {
              $('#XRPPER').html('<span style="color: green;">+' + data.XRP.per + '%</span>');
            } else {
              $('#XRPPER').html('<span style="color: red;">' + data.XRP.per + '%</span>');
            }
            if (data.DOT.per > 0) {
              $('#DOTPER').html('<span style="color: green;">+' + data.DOT.per + '%</span>');
            } else {
              $('#DOTPER').html('<span style="color: red;">' + data.DOT.per + '%</span>');
            }
            if (data.UNI.per > 0) {
              $('#UNIPER').html('<span style="color: green;">+' + data.UNI.per + '%</span>');
            } else {
              $('#UNIPER').html('<span style="color: red;">' + data.UNI.per + '%</span>');
            }
            $('#MATICPER').text(data.MATIC.per + '%');
            $('#DOGEPER').text(data.DOGE.per + '%');
          }
        });
      }

      setInterval(update_price_change, 20000); // update every 5 seconds
    });
    </script>
<h1 id="main_h1">Top 8 Cryptocurrencies</h1>
    <table>
      <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Symbol</th>
        <th>Price</th>
        <th>Change (24h)</th>
      </tr>
      <tr>
        <td>1</td>
        <td>Bitcoin</td>
        <td>BTC</td>
        <td id="BTCPRICE">${{ data.BTC.price }}</td>
        {% if data.BTC.per > 0 %}
          <td id="BTCPER" style="color: green;">+{{ data.BTC.per }}%</td>
        {% else %}
          <td id="BTCPER" style="color: red;">{{ data.BTC.per }}%</td>
        {% endif %}
      </tr>
      <tr>
        <td>2</td>
        <td>Ethereum</td>
        <td>ETH</td>
        <td id="ETHPRICE">${{ data.ETH.price }}</td>
        {% if data.ETH.per > 0 %}
          <td id="ETHPER" style="color: green;">+{{ data.ETH.per }}%</td>
        {% else %}
          <td id="ETHPER" style="color: red;">{{ data.ETH.per }}%</td>
        {% endif %}
      </tr>
      <tr>
        <td>3</td>
        <td>Binance Coin</td>
        <td>BNB</td>
        <td id="BNBPRICE">${{ data.BNB.price }}</td>
        {% if data.BNB.per > 0 %}
          <td id="BNBPER" style="color: green;">+{{ data.BNB.per }}%</td>
        {% else %}
          <td id="BNBPER" style="color: red;">{{ data.BNB.per }}%</td>
        {% endif %}
      </tr>
      <tr>
        <td>4</td>
        <td>Tether</td>
        <td>USDT</td>
        <td>$1.00</td>
        <td style="color: red;">-0.01%</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Cardano</td>
        <td>ADA</td>
        <td id="ADAPRICE">${{ data.ADA.price }}</td>
        {% if data.ADA.per > 0 %}
          <td id="ADAPER" style="color: green;">+{{ data.ADA.per }}%</td>
        {% else %}
          <td id="ADAPER" style="color: red;">{{ data.ADA.per }}%</td>
        {% endif %}
      </tr>
      <tr>
        <td>6</td>
        <td>XRP</td>
        <td>XRP</td>
        <td id="XRPPRICE">${{ data.XRP.price }}</td>
        {% if data.XRP.per > 0 %}
          <td id="XRPPER" style="color: green;">+{{ data.XRP.per }}%</td>
        {% else %}
          <td id="XRPPER" style="color: red;">{{ data.XRP.per }}%</td>
        {% endif %}
      </tr>
      <tr>
        <td>7</td>
        <td>Polkadot</td>
        <td>DOT</td>
        <td id="DOTPRICE">${{ data.DOT.price }}</td>
        {% if data.DOT.per > 0 %}
          <td id="DOTPER" style="color: green;">+{{ data.DOT.per }}%</td>
        {% else %}
          <td id="DOTPER" style="color: red;">{{ data.DOT.per }}%</td>
        {% endif %}
      </tr>
      <tr>
        <td>8</td>
        <td>Uniswap</td>
        <td>UNI</td>
        <td id="UNIPRICE">${{ data.UNI.price }}</td>
        {% if data.UNI.per > 0 %}
          <td id="UNIPER" style="color: green;">+{{ data.UNI.per }}%</td>
        {% else %}
          <td id="UNIPER" style="color: red;">{{ data.UNI.per }}%</td>
        {% endif %}
      </tr>
    </table>


{% endblock %}