{% extends 'base.html' %}
{% block CONTENT %}
<style>
    body {
      font-family: Arial, sans-serif;
    }

    h1 {
      text-align: center;
      margin-top: 40px;
    }

    table {
      margin: 0 auto;
      width: 80%;
      border-collapse: collapse;
      margin-top: 40px;
    }

    th, td {
      padding: 10px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }

    td {
      border-bottom: 1px solid #ddd;
    }

    td:nth-child(1) {
      font-weight: bold;
    }

    td:nth-child(2) {
      font-style: italic;
    }

    td:nth-child(3) {
      color: #008000;
    }

    td:nth-child(4) {
      color: #ff0000;
    }

</style>
</head>
<body>
<h1>Top 7 Cryptocurrencies</h1>
<table>
    <tr>
        <th>Cryptocurrency</th>
        <th>Price (USD)</th>
        <th>Change 24h (%)</th>
    </tr>
    <tr>
        <td>Bitcoin (BTC)</td>
        <td id="BTCPRICE">{{ data.BTC.price }}</td>
        {% if data.BTC.price > 0 %}
        <td id="BTCPER">+ {{ data.BTC.per }}%</td>
        {% else %}
        <td id="BTCPER">{{ data.BTC.per }}%</td>
        {% endif %}
    </tr>
    <tr>
        <td>Ethereum (ETH)</td>
        <td id="ETHPRICE">{{ data.ETH.price }}</td>
        {% if data.BTC.price > 0 %}
        <td id="ETHPER">+ {{data.ETH.per }}%</td>
        {% else %}
        <td id="ETHPER">{{ data.ETH.per }}%</td>
        {% endif %}
    </tr>
    <tr>
        <td>Binance Coin (BNB)</td>
        <td id="BNBPRICE">{{ data.BNB.price }}</td>
        {% if data.BTC.price > 0 %}
        <td id="BNBPER">+ {{ data.BNB.per }}%</td>
        {% else %}
        <td id="BNBPER">{{ data.BNB.per }}%</td>
        {% endif %}
    </tr>
    <tr>
        <td>Cardano (ADA)</td>
        <td id="ADAPRICE">{{ data.ADA.price }}</td>
        {% if data.BTC.price > 0 %}
        <td id="ADAPER">+ {{ data.ADA.per }}%</td>
        {% else %}
        <td id="ADAPER">{{ data.ADA.per }}%</td>
        {% endif %}
    </tr>
    <tr>
        <td>Polkadot (DOT)</td>
        <td id="DOTPRICE">{{ data.DOT.price }}</td>
        {% if data.BTC.price > 0 %}
        <td id="DOTPER">+ {{ data.DOT.per }}%</td>
        {% else %}
        <td id="DOTPER">{{ data.DOT.per }}%</td>
        {% endif %}
    </tr>
    <tr>
        <td>Uniswap (UNI)</td>
        <td id="UNIPRICE">{{ data.UNI.price }}</td>
        {% if data.BTC.price > 0 %}
        <td id="UNIPER">+ {{ data.UNI.per }}%</td>
        {% else %}
        <td id="UNIPER">{{ data.UNI.per }}%</td>
        {% endif %}
    </tr>
    <tr>
        <td>Polygon (MATIC)</td>
        <td id="MATICPRICE">{{ data.MATIC.price }}</td>
        {% if data.BTC.price > 0 %}
        <td id="MATICPER">+ {{ data.MATIC.per }}%</td>
        {% else %}
        <td id="MATICPER">{{ data.MATIC.per }}%</td>
        {% endif %}
    </tr>
    <tr>
        <td>Dogecoin (DOGE)</td>
        <td id="DOGEPRICE">{{ data.DOGE.price }}</td>
        {% if data.BTC.price > 0 %}
        <td id="DOGEPER">+ {{ data.DOGE.per }}%</td>
        {% else %}
        <td id="DOGEPER">{{ data.DOGE.per }}%</td>
        {% endif %}
    </tr>
</table>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(function() {
      function update_price_change() {
        $.ajax({
          url: "",
          dataType: "json",
          success: function(data) {
            $('#BTCPRICE').text('$' + data.BTC.price);
            $('#ETHPRICE').text('$' + data.ETH.price);
            $('#BNBPRICE').text('$' + data.BNB.price);
            $('#ADAPRICE').text('$' + data.ADA.price);
            $('#XRPPRICE').text('$' + data.XRP.price);
            $('#DOTPRICE').text('$' + data.DOT.price);
            $('#UNIPRICE').text('$' + data.UNI.price);
            $('#MATICPRICE').text('$' + data.MATIC.price);
            $('#DOGEPRICE').text('$' + data.DOGE.price);
            if (data.BTC.per > 0) {
              $('#BTCPER').html('<span style="color: green;">+' + data.BTC.per + '%</span>');
            } else {
              $('#BTCPER').html('<span style="color: red;">' + data.BTC.per + '%</span>');
            }
            if (data.ETH.per > 0) {
              $('#ETHPER').html('<span style="color: green;">+' + data.ETH.per + '%</span>');
            } else {
              $('#ETHPER').html('<span style="color: red;">' + data.ETH.per + '%</span>');
            }
            if (data.BNB.per > 0) {
              $('#BNBPER').html('<span style="color: green;">+' + data.BNB.per + '%</span>');
            } else {
              $('#BNBPER').html('<span style="color: red;">' + data.BNB.per + '%</span>');
            }
            if (data.ADA.per > 0) {
              $('#ADAPER').html('<span style="color: green;">+' + data.ADA.per + '%</span>');
            } else {
              $('#ADAPER').html('<span style="color: red;">' + data.ADA.per + '%</span>');
            }
            if (data.XRP.per > 0) {
              $('#XRPPER').html('<span style="color: green;">+' + data.XRP.per + '%</span>');
            } else {
              $('#XRPPER').html('<span style="color: red;">' + data.XRP.per + '%</span>');
            }
            if (data.DOT.per > 0) {
              $('#DOTPER').html('<span style="color: green;">+' + data.DOT.per + '%</span>');
            } else {
              $('#DOTPER').html('<span style="color: red;">' + data.DOT.per + '%</span>');
            }
            if (data.UNI.per > 0) {
              $('#UNIPER').html('<span style="color: green;">+' + data.UNI.per + '%</span>');
            } else {
              $('#UNIPER').html('<span style="color: red;">' + data.UNI.per + '%</span>');
            }
            $('#MATICPER').text(data.MATIC.per + '%');
            $('#DOGEPER').text(data.DOGE.per + '%');
          }
        });
      }

      setInterval(update_price_change, 20000); // update every 5 seconds
    });
</script>
{% endblock %}