{% extends 'base.html' %}
{% block CONTENT %}
<style>
    .form-wrapper {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }

    .form-container {
      display: flex;
      justify-content: space-between;
      width: 80%;
    }

    form {
      width: 45%;
    }

    .form-group {
      margin-bottom: 15px;
    }

    input[type="text"] {
      display: block;
      width: 100%;
      padding: 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
    }

    button {
      display: block;
      width: 100%;
      padding: 10px;
      border-radius: 4px;
      font-size: 16px;
      letter-spacing: 1px;
      border: none;
      outline: none;
      cursor: pointer;
    }

</style>
<div class="container">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    $(function() {
      function update_price_change() {
        $.ajax({
          url: "{% url 'get_price_change' %}",
          dataType: "json",
          success: function(data) {
            $('#price').text('$' + data.price);
            if (data.change >= 0) {
              $('#change').html('<span style="color: green;">+' + data.change + '%</span>');
            } else {
              $('#change').html('<span style="color: red;">' + data.change + '%</span>');
            }
          }
        });
      }

      setInterval(update_price_change, 20000); // update every 5 seconds
    });
    </script>
    <nav class="navbar">
        <div class="navbar-brand">
          <span>{{ symbol }}</span>
        </div>
        <div class="navbar-price" id="price">
          ${{ price }}
        </div>
        <div class="navbar-change">
          {% if change > 0 %}
          <span style="color: green;" id="change">+{{ change }}%</span>
          {% else %}
          <span style="color: red;" id="change">{{ change }}%</span>
          {% endif %}
        </div>
        <form class="search-form" style="width: 20%;" method="post">
            {% csrf_token %}
            {{ form.name_coin }}
        </form>
      </nav>
    <div style="width: 800px; height: 400px; margin: 0 auto;">
        <canvas id="myChart"></canvas>
    </div>
    <script>
    var ctx = document.getElementById('myChart').getContext('2d');
                        var myChart = new Chart(ctx, {
                            type: 'line',
                            data: {
                                labels: [],
                                datasets: [{
                                    label: 'Hide',
                                    data: [],
                                    borderColor: 'rgb(255, 99, 132)',
                                    fill: false
                                }]
                            },
                            options: {
                                responsive: true,
                                scales: {

                                }
                              },

                            });
            function updateElement() {
            $.ajax({
                url: "",
                success: function(data) {
                    console.log(data.data)
                    myChart.data.labels = data.data_len;
                    myChart.data.datasets[0].data = data.data;
                    myChart.options.scales.y.min = data.min_data;
                    myChart.options.scales.y.max = data.max_data;
                    myChart.update();

                }
            });
        }
        updateElement();
        setInterval(updateElement, 1000 * 3); // Call updateElement every 3 minutes
    </script>
    <div class="form-wrapper">
        <div class="form-container">
          <form class="buy-form" method="post">
              {% csrf_token %}
            <div class="form-group">
                <label>Price ({{ currency }})</label>
              {{ buy_form.price }}
            </div>
            <div class="form-group">
                <label>Amount ({{ asset }})</label>
              {{ buy_form.amount }}
            </div>
<!--            <div class="form-group">-->
<!--              <input placeholder="Total ({{ currency }})" type="text" id="buy-total" name="buy-total" readonly>-->
<!--            </div>-->
            <button type="submit" class="btn btn-success">Buy {{ asset }}</button>
          </form>
          <form class="sell-form">
            <div class="form-group">
                <label>Price ({{ currency }})</label>
              <input type="text" id="sell-price" name="sell-price" value="{{ price2 }}">
            </div>
            <div class="form-group">
                <label>Amount ({{ asset }})</label>
              <input type="text" id="sell-amount" name="sell-amount">
            </div>
<!--            <div class="form-group">-->
<!--              <input placeholder="Total ({{ currency }})" type="text" id="sell-total" name="sell-total" readonly>-->
<!--            </div>-->
            <button type="submit" class="btn btn-danger">Sell {{ asset }}</button>
          </form>
        </div>
      </div>
</div>
{% endblock %}