{% extends 'base.html' %}
{% block CONTENT %}
<style>
    .form-wrapper {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }

    .form-container {
      display: flex;
      justify-content: space-between;
      width: 80%;
    }

    form {
      width: 45%;
    }

    .form-group {
      margin-bottom: 15px;
    }

    input[type="text"] {
      display: block;
      width: 100%;
      padding: 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
    }

    button {
      display: block;
      width: 100%;
      padding: 10px;
      border-radius: 4px;
      font-size: 16px;
      letter-spacing: 1px;
      border: none;
      outline: none;
      cursor: pointer;
    }

    .listbox-container {
      width: 30%;
      background-color: white;
      float: right;
      overflow-y: auto;
      max-height: 400px; /* Set the max height of the listbox container as needed */
    }

    .cryptocurrency-listbox {
      width: 100%;
      padding: 0;
      margin: 0;
      list-style-type: none;
      overflow-y: auto;
    }

    .cryptocurrency-listbox li {
      padding: 8px;
      cursor: pointer;
      display: flex; /* Use flexbox for two-column layout */
    }

    .coin-name,
    .coin-price {
      width: 50%; /* Set the width of each column as needed */
    }
    .container_main {
      display: flex;
    }

    .div_1 {
      margin-right: 15px;
      flex: 1;
      order: 1;
    }

    .listbox-container {
      margin-top: 10px;
      margin-left: 15px;
      flex: 1;
      order: 2;
    }


</style>
<div class="container">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    $(function() {
      function update_price_change() {
        $.ajax({
          url: "{% url 'get_price_change' %}",
          dataType: "json",
          success: function(data) {
            $('#price').text('$' + data.price);
            if (data.change >= 0) {
              $('#change').html('<span style="color: green;">+' + data.change + '%</span>');
            } else {
              $('#change').html('<span style="color: red;">' + data.change + '%</span>');
            }
          }
        });
      }

      setInterval(update_price_change, 20000); // update every 5 seconds
    });

    </script>
    <nav class="navbar">
        <div class="navbar-brand">
            <span style="color: white;">{{ symbol }}</span>
        </div>
        <div class="navbar-price" id="price" style="color: white;">
            ${{ price }}
        </div>
        <div class="navbar-change">
            {% if change > 0 %}
            <span style="color: green;" id="change">+{{ change }}%</span>
            {% else %}
            <span style="color: red;" id="change">{{ change }}%</span>
            {% endif %}
        </div>
        <form class="search-form" style="width: 20%;" method="post">
            {% csrf_token %}
            {{ form.name_coin }}
        </form>
    </nav>
    <div class="container_main">
        <div class='div_1' style="width: 800px; height: 400px;">
            <canvas id="myChart"></canvas>
        </div>
        <script>
    var ctx = document.getElementById('myChart').getContext('2d');
                        var myChart = new Chart(ctx, {
                            type: 'line',
                            data: {
                                labels: [],
                                datasets: [{
                                    label: 'Hide',
                                    data: [],
                                    borderColor: 'rgb(255, 99, 132)',
                                    fill: false
                                }]
                            },
                            options: {
                                responsive: true,
                                scales: {

                                }
                              },

                            });
            function updateElement() {
            $.ajax({
                url: "",
                success: function(data) {
                    console.log(data.data)
                    myChart.data.labels = data.data_len;
                    myChart.data.datasets[0].data = data.data;
                    myChart.options.scales.y.min = data.min_data;
                    myChart.options.scales.y.max = data.max_data;
                    myChart.update();

                }
            });
        }
        updateElement();
        setInterval(updateElement, 1000 * 3); // Call updateElement every 3 minutes


        </script>
        <div class="listbox-container" style="background: rgb(16, 35, 49);">
            <ul class="cryptocurrency-listbox">
                <!-- Replace the placeholder list items with actual data -->
                {% for i in infos %}
                <li>
                    <div class="coin-name" data-id="{{ i.id }}" style="color: white;">{{ i.name }}</div>
                    <div class="coin-price" style="color: white;">${{ i.price }}</div>
                    {% if i.change < 0 %}
                    <div class="coin-change" style="color: red;">{{ i.change }}%</div>
                    {% else %}
                    <div class="coin-change" style="color: green;">+{{ i.change }}%</div>
                    {% endif %}
                </li>
                {% endfor %}

                <!-- Add more list items as needed -->
            </ul>
        </div>
        <script>
          var coinNames = document.querySelectorAll(".coin-name");

          coinNames.forEach(function(name) {
            name.addEventListener("click", function(event) {
              var coinName = name.textContent;

              var searchInput = document.getElementById("search-input");
              searchInput.value = coinName;
            });
          });

        </script>
    </div>
    <div class="form-wrapper">
        <div class="form-container">
            {% if request.user.is_authenticated %}
            <form class="buy-form" method="post" style="background: rgb(16, 35, 49);">
                {% csrf_token %}
                {% if request.user.is_authenticated %}
                <div class="form-group">
                    <label style="color: white;">Price ({{ currency }})</label>
                    {{ buy_form.price }}
                </div>
                <div class="form-group">
                    <label style="color: white;">Amount ({{ asset }})</label>
                    {{ buy_form.amount }}
                </div>
                {% else %}
                <div class="form-group">
                    <label  style="color: white;">Price ({{ currency }})</label>
                    <input type="text" id="buy-price" name="buy-price" value="{{ price2 }}">
                </div>
                <div class="form-group">
                    <label  style="color: white;">Amount ({{ asset }})</label>
                    <input type="text" id="buy-amount" name="buy-amount">
                </div>
                {% endif %}
                <button type="submit" class="btn btn-success">Buy {{ asset }}</button>
            </form>
            <form class="sell-form">
                {% if request.user.is_authenticated %}
                <div class="form-group">
                    <label  style="color: white;">Price ({{ currency }})</label>
                    <input type="text" id="sell-price" name="sell-price" value="{{ price2 }}" style="background: rgb(16, 35, 49); color: white;">
                </div>
                <div class="form-group">
                    <label  style="color: white;">Amount ({{ asset }})</label>
                    <input type="text" id="sell-amount" name="sell-amount" style="background: rgb(16, 35, 49); color: white;">
                </div>
                {% else %}
                <div class="form-group">
                    <label>Price ({{ currency }})</label>
                    <input type="text" id="sell-price" name="sell-price" value="{{ price2 }}">
                </div>
                <div class="form-group">
                    <label  style="color: white;">Amount ({{ asset }})</label>
                    <input type="text" id="sell-amount" name="sell-amount">
                </div>
                {% endif %}
                <button type="submit" class="btn btn-danger">Sell {{ asset }}</button>
            </form>
            {% else %}
            <form class="buy-form" method="post" action="{% url 'signup' %}">
                {% csrf_token %}
                {% if request.user.is_authenticated %}
                <div class="form-group">
                    <label style="color: white;">Price ({{ currency }})</label>
                    {{ buy_form.price }}
                </div>
                <div class="form-group">
                    <label style="color: white;">Amount ({{ asset }})</label>
                    {{ buy_form.amount }}
                </div>
                {% else %}
                <div class="form-group">
                    <label style="color: white;">Price ({{ currency }})</label>
                    <input type="text" id="buy-price" name="buy-price" value="{{ price2 }}" style="color: white;" disabled>
                </div>
                <div class="form-group">
                    <label style="color: white;">Amount ({{ asset }})</label>
                    <input type="text" id="buy-amount" name="buy-amount" style="color: white;" disabled>
                </div>
                {% endif %}
                <button type="submit" class="btn btn-success">Зарегистрироваться</button>
            </form>
            <form class="sell-form" action="{% url 'signup' %}">
                {% if request.user.is_authenticated %}
                <div class="form-group">
                    <label>Price ({{ currency }})</label>
                    <input type="text" id="sell-price" name="sell-price" value="{{ price2 }}">
                </div>
                <div class="form-group">
                    <label>Amount ({{ asset }})</label>
                    <input type="text" id="sell-amount" name="sell-amount">
                </div>
                {% else %}
                <div class="form-group">
                    <label style="color: white;">Price ({{ currency }})</label>
                    <input type="text" id="sell-price" name="sell-price" value="{{ price2 }}" style="color: white;" disabled>
                </div>
                <div class="form-group">
                    <label style="color: white;">Amount ({{ asset }})</label>
                    <input style="color: white;" type="text" id="sell-amount" name="sell-amount" disabled>
                </div>
                {% endif %}
                <button type="submit" class="btn btn-danger">Зарегистрироваться</button>
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}